<div class="main-container main-home">
  <section class="promotions centralize-content">
    <div class="promotions--slider">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="slider-arrow slider-arrow--left"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.75 19.5L8.25 12l7.5-7.5"
        />
      </svg>
      <div
        class="promotion-slider--card"
        data-card="0"
        data-url="welcome-bonus.ace05fb3.jpg"
      >
        <div class="promotion-slider--card---left"></div>

        <div class="promotion-slider--card---right">
          <h1 class="promotion-card-title">Bonus Rewards</h1>

          <article class="promotion-card-description">
            There’s high reward for high risk on the frontier.
          </article>
          <div class="promotion-card-buttons">
            <button class="btn-card btn-general btn-secondary">
              Read More
            </button>
            <button class="btn-card btn-general btn-highlight">
              Claim Offer
            </button>
          </div>
        </div>
      </div>

      <div
        class="promotion-slider--card hidden"
        data-card="1"
        data-url="rakeback_autumn_promo.7e4252e3.jpg"
      >
        <div class="promotion-slider--card---left"></div>

        <div class="promotion-slider--card---right">
          <h1 class="promotion-card-title">The Quick Draw Club</h1>

          <article class="promotion-card-description">
            Membership in The Quick Draw Club entitles you to rewards, bonuses
            and items to help live life on the fringe of the law.
          </article>
          <div class="promotion-card-buttons">
            <button class="btn-card btn-general btn-secondary">
              Read More
            </button>
            <button class="btn-card btn-general btn-highlight">
              Claim Offer
            </button>
          </div>
        </div>
      </div>

      <div
        class="promotion-slider--card hidden"
        data-card="2"
        data-url="vip.6680a453.png"
      >
        <div class="promotion-slider--card---left"></div>

        <div class="promotion-slider--card---right">
          <h1 class="promotion-card-title">VIP Program Rakeback</h1>

          <article class="promotion-card-description">
            Rank up , earn rakeback and chest rewards with our vip program.
          </article>
          <div class="promotion-card-buttons">
            <button class="btn-card btn-general btn-secondary">
              Read More
            </button>
            <button class="btn-card btn-general btn-highlight">
              Claim Offer
            </button>
          </div>
        </div>
      </div>

      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="slider-arrow slider-arrow--right"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M8.25 4.5l7.5 7.5-7.5 7.5"
        />
      </svg>
    </div>
    <div class="promotion-slider--track">
      <ul class="slide-tracker-list">
        <!-- placeholders
          <li>
            <button
              class="btn-slide-tracker btn-slide-tracker--selected"
            ></button>
          </li>
          <li><button class="btn-slide-tracker"></button></li>
          <li><button class="btn-slide-tracker"></button></li>
          -->
      </ul>
    </div>
  </section>

  <section class="lobby centralize-content">
    <div class="games-section">
      <div class="games-header">
        <p class="games--header-title">Gambloors Originals</p>
        <div class="games-header--arrows">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="slider-arrow games-arrow"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15.75 19.5L8.25 12l7.5-7.5"
            />
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="slider-arrow games-arrow"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M8.25 4.5l7.5 7.5-7.5 7.5"
            />
          </svg>
        </div>
      </div>
      <div class="game-container">
        <div class="game--card-container">
          <div class="game-card"></div>
        </div>
        <div class="game-description-container">
          <p class="game-description--text">Dice</p>
        </div>
      </div>
    </div>
  </section>
</div>
