:root {
  --margin: 0;
  --fontSize: calc(((100vw * 0.783) / 19.2) * 16 / 100);
  --promoHeight: 16rem;
  --promoWidth: 16rem;
  --topnavWidth: 100%;
  --mainWidth: 70vw;
  --footerWidth: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

*:focus {
  outline: none;
}

html {
  /*10px/16px = 0.625 = 62.5%*/
  /*font-size: 62.5%; /*78.5% */

  scroll-behavior: smooth;
  height: 100%;
}

::-webkit-scrollbar {
  width: 0.1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

.dice-range {
  -webkit-appearance: none; /*need to add this or the background don't change*/
  background: linear-gradient(
    to right,
    rgba(155, 237, 154, 0.5) 0%,
    rgba(155, 237, 154, 0.5) 50%,
    rgba(255, 153, 153, 0.5) 50%,
    rgba(255, 153, 153, 0.5) 100%
  );
}

.dice-range::-webkit-slider-thumb {
  cursor: pointer;
  appearance: none;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0%;
  outline: 1px solid #909090;

  background: #242423;
}

.dice-range:active::-webkit-slider-thumb {
  outline: 3px solid #f5cb5c;
}

.dice-roll-container {
  transition: rotate 0.5s ease-in-out;
}

.dice-roll-container--rotate {
  rotate: y 360deg;
}

.dice-range-bubble {
  transition: margin 2s;
}
