* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  /*10px/16px = 0.625 = 62.5%*/
  /* font-size: 62.5%; /*78.5% */
  font-size: 78.3%;
  scroll-behavior: smooth;
  height: 100%;
}

::-webkit-scrollbar {
  width: 0.1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}
