:root {
  --color-bk--1: #242423;
  --color-btn: #00c46a;

  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: rgb(214, 222, 224);
}

/* we should do this by default */
/* reset all the margins and paddings to zero in every element.  this universal selector has lower priority */
/*margins cannot be added to <a> elements*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* when the elements are side by side , prevents that the total width of the elemens inside a parent container has more width than the total of the parent container. So with this avoids that an elem would go down
  when they dont fit in the parent container, whenever we change the margin or the padding,  keeping the total width intact , and the elements side by side, so we never have a total width of the elements > parent container width */
}

*:focus {
  /* this will style the focus state of all elements */
  outline: none;
  /*outline:4px dotted orange;*/
  /*outline-offset:8px;*/
  /*box-shadow:0 0 0 8px orange;*/
}

html {
  /*10px/16px = 0.625 = 62.5%*/
  font-size: 62.5%;
  scroll-behavior: smooth;

  /*scroll-behavior: smooth; in case we want a smooth scrolling */
}

body {
  background-color: #242423;
  font-family: "Barlow", sans-serif;
}

.flex-container {
  display: flex;
}

main {
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40vh;
}

/*General Btns */
.general-btn {
  cursor: pointer;
  background-color: #f5cb5c;
  color: #e8eddf;
  border: none;
  width: 100%;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.2rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  height: 2.7rem;
}

.general-btn:hover {
  background-color: #ddb753;
}
.general-btn:link,
.general-btn:visited {
  transition: background-color 2s; /*-> it will change the background color with a delay of 1s if we setup the hover*/

  /*transition: all 1s; -> it will change the background color and the text color with a delay of 1s if we setup the hover*/
}

.dice-container {
  /*background-color: #333533;*/
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: #f5cb5c;
  row-gap: 2rem;
}

.container-title {
  font-weight: 700;
}

.value-container {
  background-color: #333533;
  width: 50%;
  padding: 0.5rem;
}

.output-value {
  color: #e8eddf;
}

.bet-size-value[type="number"] {
  background-color: #333533;
  color: #e8eddf;
  padding: 0.5rem;
  width: 100%;
  font-size: 1rem;
  border: none;
}

.roll-under-container {
  grid-column: 2 /3;
}

.payout-container {
  grid-column: 1 /2;
  grid-row: 1/2;
}

.win-chance-container {
  grid-column: 3 /4;
  grid-row: 1/2;
}

.betsize-container {
  grid-column: 2 /3;
  justify-self: center;
  width: 100%;
}

.roll-btn-container {
  grid-row: 4/5;
  grid-column: 2 /3;
}

.slider-container {
  grid-column: 1 /-1;
  width: 100%;
  justify-self: center;
}

.slider {
  margin-top: 3rem;
  width: 100%;
  background: white;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover*/
  transition: opacity 0.2s;
  border-radius: 0.5rem;
  display: block;
}
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.slider::-moz-range-thumb {
  width: 15%;
  border-radius: 0.5rem;
  background: white;
  cursor: pointer;
}

.slider-header {
  display: flex;
  gap: 0.5rem;
}
