/*

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing

0.8px

- BORDER-RADIUS

Default: 5px
Medium: 11px

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

/**************************/
/* GENERAL */
/**************************/

:root {
  --color-bk-body--: #242423;
  --color-bk-btn--: #f5cb5c;
  --color-bk-nav--: #202020;
  --color-btn--: #ffffff;
  --color-border--: #3a3a39;
  --color-bk-card--: #060606;
  --color-article--: #cdcdcd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  /*10px/16px = 0.625 = 62.5%*/
  font-size: 62.5%; /*78.5% */
  scroll-behavior: smooth;
  height: 100%;
}

a:visited,
a:link {
  color: var(--color-btn--);
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

.btn-general {
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: Barlow;
  letter-spacing: 0.08rem;
  line-height: 1;
  text-align: center;
}

.btn-highlight {
  background-color: var(--color-bk-btn--);
  color: var(--color-btn--);
}

.btn-secondary {
  background-color: transparent;
  color: var(--color-btn--);
  border: solid;
  border-width: 0.01rem;
  border-color: var(--color-border--);
}

/**************************/
/* TOGGLE CLASSES */
/**************************/

.hidden {
  display: none;
}

.hide-sidebar {
  /*animation*/
  pointer-events: none; /*unacessible to mouse and keyboard */
  transform: translateX(-100%);
  /*grid-column: -3/-2;*/

  visibility: hidden; /*hide from screen reader */
}

.slide-out {
  width: 100vw;
  /*transform: translateX(-10.5vw);*/
  transform: translateX(-16.29rem);

  grid-row: 1/2;
}

.slide-out--footer {
  width: 100vw;
  z-index: 1;
}

.slide-in {
  grid-column: 2/3;
}

.show-sidebar {
  pointer-events: auto; /*unacessible to mouse and keyboard */
  transform: translateX(0%);

  visibility: visible; /*hide from screen reader */
}

/**************************/
/* HEADER */
/**************************/
.header {
  /*height:8.71vh*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 1.6rem;
  background-color: var(--color-bk-nav--);
  border-bottom-color: var(--color-border--);
  border-bottom-style: solid;
  border-width: 0.001rem;
}

.header-left {
  display: flex;
  gap: 2.4rem;
  height: 59%;
  width: 10.8vw;
}

.logo-container {
  width: 66.3%;
  height: 100%;
}
.logo {
  /*height: 4.4rem;
  width: 11rem;*/
  width: 100%;

  height: 100%;
}
.side-bar-btn-container {
  width: 16.7%;
  height: 6.7%;
}
.side-bar-btn {
  color: var(--color-btn--);
  /*width: 16.7%;
  height: 6.7%;*/
  width: 100%;
  height: 100%;
  /*height: 3rem;*/
  cursor: pointer;
}

/**************************/
/* NAVIGATION-MAIN */
/**************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-btn {
  font-size: 1.2rem;

  height: 3.6rem;
  width: 8.6rem;
}

/**************************/
/* NAVIGATION - SIDER */
/**************************/
.sider {
  background-color: var(--color-bk-nav--);
  grid-row: 1 / 3;

  border-right-color: var(--color-border--);
  border-right-style: solid;
  border-width: 0.001rem;
  padding: 1.6rem 1.6rem;
  transition: ease-out 1s;
}

.side-nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  text-transform: uppercase;
}

.side-nav-link {
  font-size: 1.4rem;

  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.side-nav-icon {
  width: 2.4rem;
}
.side-nav-text-container {
  height: 100%;
}

/**************************/
/* BODY */
/**************************/
body {
  font-family: 'Barlow', sans-serif;
  overflow: hidden;
}
.body-container {
  display: grid;
  grid-template-columns: 0.15fr 0.85fr;
  background-color: var(--color-bk-body--);
}

/**************************/
/* MAIN */
/**************************/

main {
  transition: ease-out 1s;
  width: 100%;
  margin-top: 8vh;

  max-height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.main-container {
  width: 60%;
  /*background-color: brown;*/
  margin-left: auto;
  margin-right: auto;
  min-height: 83.29vh; /* 100-8.71-margin-top */
  /*min-height: 1000px;*/

  margin-bottom: 8vh;
}
/**************************/
/* FOOTER GRID */
/**************************/
footer {
  width: 100vw;
  min-height: 40vh;
  background-color: var(--color-bk-body--);
}

.footer--grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  justify-items: center;
  align-items: start;
  padding: 2.4rem 0;
  border-top-color: var(--color-border--);
  border-top-style: solid;

  border-width: 0.001rem;
}

.footer-heading {
  font-size: 1.6rem;
  color: var(--color-btn--);
  font-weight: 400;
  margin-bottom: 1.2rem;
}

.social-links-list {
  list-style: none;
  display: flex;
  gap: 0.8rem;
}

.footer-icon {
  /*background-color: var(--color-bk-body--);*/
  padding: 0.2rem;
}

.footer-icon svg {
  width: 2.4rem;
  height: 2.4rem;
}

.footer-nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.footer-nav-link {
  color: #929291 !important; /*overwrite the a general element*/
  font-size: 1.2rem;
  font-weight: 400;
}

/*.general-btn {
  cursor: pointer;
  background-color: var(--color-btn--);
  color: #e8eddf;
  border: none;
  width: 100%;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.2rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  height: 2.7rem;
}

.general-btn:hover {
  background-color: var(--color-btn--);
}
.general-btn:link,
.general-btn:visited {
  transition: background-color 2s; /*-> it will change the background color with a delay of 1s if we setup the hover
*/
/*transition: all 1s; -> it will change the background color and the text color with a delay of 1s if we setup the hover
}*/
